<html>
  <head>
    <title>Guild List</title>
  </head>
  <body>
  {% if guilds %}
    <p>Guilds:</p>
    <ul>
      {% for guild in guilds %}
      <li>
      {{ guild.title}},
      minimum level: {{guild.min_level}}
      crested {{guild.crested_date}}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p> There are no guilds. </p>
    {% endif %}

    <p> Create a guilt: </p>
    <form action="/" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" /> <br/>
      <label for="min_level">Minimum Level:</label>
      <input type="text" id="min_level" name="min_level" /> <br/>

      <input type="submit" name="Create Guild" />
    </form>
  </body>
</html>
